.game {

  position: relative;


  &__preloader {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    z-index: 2;

    &.done {
      opacity: 0;
      display: none;
    }
  }

  &__loader {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .3;
    background: #000;


  }


  &__bg img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
  }



  &__dress-img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: none;

    &.active {
      display: block;

    }
  }

  &__buttons-list {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    grid-gap: 50px 60px;


    max-width: 540px;
    min-height: 820px;

    top: 190px;
    right: 265px;

    z-index: 5;



  }

  &__buttons-item {

    &:nth-child(1) {
      display: none;
    }

    &.active {
      display: block;
      border: 10px solid #18CF05;
    }
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items:center;


    background-color: rgb(255, 255, 255);
    width: 240px;
    height: 240px;
    border: 10px solid #605F5F;
    border-radius: 30px;
    transition: all .5s;

    &:hover {
      border: 10px solid #18CF05;
      z-index: 4;
    }

    &.active {
      border: 10px solid #18CF05;
      z-index: 6;

    }
  }

  &__ok-btn {
    position: fixed;
    display: flex;
    align-items:center;
    justify-content: center;
    bottom: 80px;
    right: 55vw;


    font-family: var(--font-family);
    font-size: 55px;
    font-weight: 400;
    color: #000;

    background-image: linear-gradient(46deg, #F8C339 30%, #FFE03D 70%, #ffffff 95%);
    box-shadow: 0px 40px 30px rgba(0, 0, 0, 0.25);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border:#FFE03D solid 3px;
    background-color: rgb(0, 0, 0, .4);

    display: none;



    &:nth-child(1) {

      background-image: linear-gradient(46deg, #F8C339 30%, #FFE03D 70%, #ffffff 95%);
      box-shadow: 0px 40px 30px rgba(0, 0, 0, 0.25);

      width: 250px;
      height: 250px;
      border-radius: 50%;

      border:#FFE03D solid 3px;

      background-color: rgb(0, 0, 0, .4);
    }

    &.active {
      display: flex;
    }

  }

  &__ok-btn-none {
    position: fixed;
    display: flex;
    align-items:center;
    justify-content: center;
    bottom: 80px;
    right: 55vw;

    font-family: var(--font-family);
    font-size: 55px;
    font-weight: 400;
    color: rgb(255, 255, 255);

    border: #fff solid 10px;

    width: 250px;
    height: 250px;
    border-radius: 50%;

    background-color: rgb(0, 0, 0, .4);

    display: none;

    &.active {
      display: flex;
    }

  }
}




@keyframes pulse {
  0% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.0);
  }
}


.pulse-ok {
  animation-name: pulse;
  animation-duration: .4s;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-iteration-count: 6;
}



