<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="Description" content="default">
    <title>Suits_Me_Test</title>
    <link rel="preload" href="/fonts/PassionOne-Regular.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/fonts/PassionOne-Bold.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/fonts/PassionOne-Black.woff2" as="font" crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css">
</head>


